@import '../../variables.css';

desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    height: 100vh;
    position: relative;
    width: 100vw;
  }
  
  .desktop .overlap {
    height: 100vh;
    left: 110px;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  
  .desktop .overlap-group {
    height: 100vh;
    left: 36px;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  
  .desktop .union {
    height: 100vh;
    left: 209px;
    object-fit: cover;
    position: absolute;
    top: 0;
    max-width: 100vw;
    width: 1085px;
  }
  
  .desktop .text-wrapper {
    color: #000000;
    font-family: "Tiro Devanagari Sanskrit", Helvetica;
    font-size: 45px;
    font-weight: 400;
    left: -19%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 62%;
    transform: rotate(-90deg);
    width: 529px;
    max-width:100%;
  }
  
  .desktop .p {
    color: #000000;
    font-family: "Roboto Serif", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: -4%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 59%;
    transform: rotate(-90deg);
    width: 330px;
  }
  
  .desktop .frame {
    height: 100vh;
    position: relative;
    width:100vw;
  }
  
  .desktop .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 50%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 151px;
  }
  
  .desktop .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left:58%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 128px;
  }
  
  .desktop .frame-2 {
    background-color: #b4b9aa70;
    border-radius: 10px;
    height: 35px;
    left: 68%;
    position: absolute;
    top: 22px;
    width: 218px;
    color: lightgray;
    font-family: "Lato-Thin", Helvetica;
    font-size: 18px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap; 
    
  }

  .desktop .frame-2 I{
    padding-left: 45%;
    margin: 3%;
    
  }

  .desktop .frame-2 p{
    flex: 0 0 auto;
    margin: 3%;
    
    
  }
  
  .desktop .rectangle {
    
    height: 48px;
    left: 75%;
    position: absolute;
    top: 80%;
    width: 57px;
  }
  
  .desktop .rectangle-2 {
    
    height: 46px;
    left: 80%;
    position: absolute;
    top: 80%;
    width: 52px;
  }
  
  .desktop .text-wrapper-4 {
    color: #000000;
    font-family: "Roboto Serif", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 85px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 149px;
  }
  
  .desktop .text-wrapper-5 {
    color: #000000;
    font-family: "Tiro Devanagari Sanskrit", Helvetica;
    font-size: 19px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10%;
    width: 169px;
  }
  
  .desktop .ellipse {
    height: 80px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 27px;
    width: 76px;
  }

  .morebuttons{
    background-color: thistle;
   
    width: 70px;
  }

  .i {
    font-size: 24px; /* Increase the icon size as needed */
    transition: color 0.3s ease; /* Add a smooth transition for color change */
  }
  
  .i:hover {
    color: #ff0000; /* Change the color on hover (replace with your desired color) */
  }
  