@import '../../variables.css';
/* Font Styles */
body {
    font-family: "Roboto Serif", Helvetica;
}

label {
    font-family: 'Lato-Italic';
}

h2 {
    font-family: "Tiro Devanagari Sanskrit";
}

button {
    font-family: 'DMSerifDisplay-Regular';
}

/* Layout and Styling */
.registration-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: none; /* Remove the border */
     /* Slightly increase border radius for a softer look */
    background-color: #f0f0f03e; /* Use a light gray background color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Apply a subtle box shadow for neumorphic effect */
    backdrop-filter: blur(10px);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 90%;
    padding: 8px;
    border: 1px solid #f5c5c5;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9095AD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #89734A;
}

.grad-background {
    background-image: linear-gradient(to right top, #968aa8, #a499b4, #9c98b2, #9095ad, #8090a3, #728e9d, #688b93, #628887, #608678, #698265, #787c54, #89734a);
}
