:root {
    --variable-collection-greenish:rgba(0, 0, 0, 0.67);/* rgba(18, 27, 0, 0.67); /* Define your color value here */
    --variable-collection-blackish:rgba(0, 0, 0, 1);/*color: #121b00ab;*/
    --variable-collection-tint:rgba(180, 171, 171, 0.5);/*rgba(153, 155, 72, 0.74);*/
  }

@font-face {
    font-family: "Tiro Devanagari Sanskrit";
    src: url('./assets/fonts/TiroDevanagariSanskrit-Regular.ttf') format('truetype');
       
    /* Add other font formats if available */
  }
  
@font-face {
    font-family:'DMSerifDisplay-Regular' ;
    src: url('./assets/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family:'Lato-Italic' ;
    src: url('./assets/fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
    font-family:'Lato-Thin' ;
    src: url('./assets/fonts/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family:'Roboto Serif' ;
  src: url('./assets/fonts/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf') format('truetype');
}

  